{% extends 'base.html' %}

{% block content %}
    <h2>Rated Movies</h2>
    {% if rated_movies %}
        {% for rm, rate in rated_movies %}
            <h2>{{ rm.title }}</h2>
            <p>Global Rating<br>{{ rm.rating }}<br>Personalized Rating<br>{{ rate }}<br>
            <form method='POST' action="">{% csrf_token %}
                Edit:<br>
                {{ form }}
                <input type="hidden" name="movie" value="{{ rm.id }}">
                <input type='submit' class='btn btn-default' value='Edit'>
            </form>
            <a href={% url 'delete_rating' movie_id=rm.id %}>Delete </a><br/>
            </p>
        {% endfor %}
    {% else %}
        <p>None</p>
    {% endif %}

    <h2>Unrated Movies</h2>
    {% if unrated_movies %}
        {% for um in unrated_movies %}
            <h2>{{ um.title }}</h2>
            <p>Global Rating<br>{{ um.rating }}</p>
            <form method='POST' action="">{% csrf_token %}
                Rate:<br>
                {{ form }}
                <input type="hidden" name="movie" value="{{ um.id }}">
                <input type='submit' class='btn btn-default' value='Rate'>
            </form>

        {% endfor %}
    {% else %}
        <p>None</p>
    {% endif %}

{% endblock %}